AWS_REGION=ap-northeast-2

WORKER_MODE=mock
WORKER_TIER=free

FREE_QUEUE_URL=
PAID_QUEUE_URL=

MODEL_PATH=./checkpoints/wav2LM_Nes2Net_X.pth
MODEL_NAME=wav2vec2_Nes2Net_X
TEST_MODE=4s
MODEL_VERSION=v1

LOCAL_AUDIO_PATH=./samples/fake_01.wav

DB_HOST=
DB_PORT=3306
DB_NAME=voice_ai
DB_USER=admin
DB_PASSWORD=
